<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">List of Bills</h5>
          <p>
            <strong>Title</strong>: {{bill.description}}</p>
          <p>
          <p>
            <strong>Amount</strong>: {{bill.value}}</p>
          <p>
<<<<<<< HEAD:views/example.handlebars
=======
            <strong>Description:</strong> {{bill.description}}</p>
>>>>>>> master:views/bill.handlebars
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
