<div id="home">
  <div class="container">
    <div class="row">
      <div class="nav-wrapper">
        <h1 id="red">Bill Buddy</h1>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
          <h4 id="comment"></h4>
          <i class="fas fa-money-bill-wave" id="dollar"></i>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat" id="continue">Continue</a>
        </div>
    </div> 
    {{!-- Display row for titles of values --}}
    <div class="row">
      <div class="col s4">
        <h5>Total Monthly Income</h5>
      </div>
      <div class="col s4">
        <h5>Total Expenses/Bills</h5>
      </div>
      <div class="col s4">
        <h5>Difference</h5>
      </div>
    </div>
    {{!-- Display row for Values --}}
    <div class="row displayValues">
      <div class="col s4">
        <div id="totalMonthlyIncomeDisplay"></div>
      </div>
      <div class="col s4">
        <div id="sumOfBills"></div>
      </div>
      <div class="col s4">
        <div id="difference" class="diff"></div>
      </div>
    </div>
    <div class="row">
      <!-- ------------- Div for image and total-->
      <div class="col s5">
        <div class="total">
          <div class="input-field">
            <input placeholder="Monthly Income" id="monthly_income" type="text">
            <label for="monthly_income">Monthly Income</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light blue" id="monthlyIncome" type="submit" name="action">Submit</button>
      </div>
      <!-- --------- Empty Div for spacing-->
      <div class="col s2"></div>
      <!-- -------------- Div for the expenses and bills-->
      <div class="col s5">
        <header>
          <h4>Expenses and Bills</h4>
        </header>
        <form>
          <input id="newBill" type="text">
          <label for="newBill">New Bill or Expense Item</label>
          <input id="newAmount" type="text">
          <label for="newAmount">Amount</label>
        </form>
        <button class="btn waves-effect waves-light blue" id="billInput" type="submit" name="action">Enter a bill</button>
        <div class="bills">
          <ul id='billList' class='list-group'>
            {{#each bill}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>