<div id="home">
  <div class="container">
    <div class="row">
      <div class="nav-wrapper">
        <h1 id="red">App Name TBD</h1>
      </div>

    </div>
    <div class="row">

      <!-- ------------- Div for image and total-->
      <div class="col s5">
        <div class="pig">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC44KA0ytm_CRwz1Te_iJKaWk9juM9dvnzJMvmpd5TYGP88Yrq">

        </div>
        <div class="total">
          <div class="input-field">
            <input placeholder="Monthly Income" id="monthly_income" type="text">
            <label for="monthly_income">Monthly Income</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit</button>
      </div>
      <!-- --------- Empty Div for spacing-->
      <div class="col s2"></div>
      <!-- -------------- Div for the expenses and bills-->
      <div class="col s5">

        <header>
          <h4>Expenses and Bills</h4>
        </header>
        <form>
          <input id="newbill" type="text">
          <label for="newbill">New Bill or Expense Item</label>
          <input id="newmount" type="text">
          <label for="newamount">Amount</label>
        </form>
        <button class="btn waves-effect waves-light blue" id="enter-bill" type="submit" name="action">Enter a bill</button>
        <div class="bills">
          <ul>
            {{#each examples}}
            <div></div>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>