.bills {
  border: 2px groove red;
  border-radius: 10px;
  box-shadow: 10px 10px grey;
}

.total,
#monthly_income {
  text-align: center;
}

.total {
  margin-top: 100px;
}

body {
  text-align: center;
}

button {
  margin-top: 20px;
}

.input-field input[type="text"]:focus + label {
  color: black !important;
}
