body {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background-image: url("/img/Football-Sport-Field-PPT-Backgrounds.jpg");
  /* opacity: 0.6; */
}

.bills {
  border: 2px groove orange;
  border-radius: 10px;
  box-shadow: 10px 10px grey;
  margin-top: 50px;
}

.total,
#monthly_income {
  text-align: center;
}

.total {
  margin-top: 100px;
}

body {
  text-align: center;
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

button {
  margin-top: 20px;
}

.input-field input[type="text"]:focus + label {
  color: black !important;
}

#red {
  background-color: nones;
  height: 100px;
  font: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 0%;
}
#pig {
  margin: 0 0 0 -2000px;
  height: 50px;
  width: 50px;
}

/* .waves-effect waves-light btn {
  background-image: url("../public/img/button-delete-icon-4489.png");
  width: 60px;
  height: 20px;
  float: right;
} */

.modal {
  background-color: gold;
 
}

#dollar {
  height: 10px;
  width: 20px;

.delete {
  width: 10%;
  padding-left: 8px;
  display: block;
}

p {
  text-align: left;
}

.displayValues {
  border: solid orange 2px;
  font-size: 50px;
  border-radius: 10px;
  background-color: white;
}